html {
    position: relative;
    min-height: 100%;
}

.main-body{
    margin-top:60px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
   /* Set the fixed height of the footer here */
    height: 60px;
}

.latest-area{
    margin-bottom:30px;
}

.latest-info{
    float:left;
    font-size:30px;
}


#index-humidity-graph{
    float:left;
}

#index-temperature-graph{
    float:right;
}
