/* Layout
---------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom:60px;
}

.main-body{
    margin-top:60px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}


/* Detail
---------------------------------------------------*/
.latest-area{
    margin-bottom:30px;
}

.latest-info{
    float:left;
    height:67px;
}

.latest-value{
    font-size:32px;
}

#index-humidity-graph{
    float:left;
}

#index-temperature-graph{
    float:right;
}
