<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8"></meta>
  <title>Oolong</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>
<body>
  <!-- Header -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">Oolong</a>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="container main-body">
    <%= yield %>
  </div>

  <div class="footer">
    <div class="container">
      <p class="text-muted">Created by mosuke5.</p>
    </div>
  </div>

</body>
</html>
